.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100% 100%;
  vertical-align: middle;
  margin: 0 5px;
  cursor: pointer;
}
.icon.thumbsup {
  background-image: url('../images/thumbsup.png')
}

.icon.thumbsdown {
  background-image: url('../images/thumbsdown.png')
}

.votes {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  background: #333;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
  padding:3px
}
.header_right_center{
  position: absolute;
  right: 20px;
  top: 25%;
}
.fab_btn{
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
}
.fab_btn:hover {
  background-color:#B71C1C;
}
