.icon-container {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
}
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100% 100%;
  vertical-align: middle;
  margin: 0 5px;
}
.icon.thumbsup {
  background-image: url('../images/ic_thumbsup.png')
}

.icon.thumbsdown {
  background-image: url('../images/ic_thumbsdown.png')
}

.icon.delete {
  background-image: url('../images/ic_delete.png')
}

.icon.add {
  background-image: url('../images/ic_add.png')
}
.icon.edit {
  background-image: url('../images/ic_edit.png')
}

.votes {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  background: #333;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
  padding:3px
}
.header_right_center{
  position: absolute;
  right: 20px;
  top: 25%;
}
.fab_btn{
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
}
.fab_btn:hover {
  background-color:#B71C1C;
}

.post-form, .comment-form {
  max-width: 800px;
  margin: auto;
}

.form-title {
  background: wheat;
  margin: 0;
  padding: 10px;
}

.post-body-edit {
  min-height: 320px;
}

.comment-body-edit{
  min-height: 200px;
}
.sort-option {
  position: absolute;
  right: 10px;
}

.Modal {
  max-width: 800px;
  margin: 20px auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
}
